.deal-form-container-2 {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
}

.deal-form-container-2 label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.deal-form-container-2 input[type="text"],
.deal-form-container-2 input[type="date"],
.deal-form-container-2 input[type="tel"],
.deal-form-container-2 textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

.deal-form-container-2 textarea {
    height: 50px;
    resize: vertical;
}


.deal-form-container-2 .buttons-container-2 button {
    background-color: #5b296b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.buttons-container-2 button {
    text-align: left;
}

.deal-form-container-2 .buttons-container-2 button:hover {
    background-color: #5b296b;
}

.add-client-button-2 {
    background-color: #5b296b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    width: max-content;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 0;
}

.add-client-button-2:hover {
    background-color: #382054;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.modal.active {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.error-message {
    color: red;
    font-size: small;
    margin-top: 0;
}



/* Медиа-запросы для мобильных устройств */

@media (max-width: 600px) {
    .deal-form-container-2 {
        max-width: 90%;
        padding: 15px;
        margin: 10px auto;
    }

    .deal-form-container-2 label {
        margin-bottom: 8px;
        font-size: 14px;
    }

    .deal-form-container-2 input[type="text"],
    .deal-form-container-2 input[type="date"],
    .deal-form-container-2 input[type="tel"],
    .deal-form-container-2 textarea {
        padding: 8px;
        font-size: 14px;
    }

    .deal-form-container-2 textarea {
        height: 100px; /* Увеличение для лучшего ввода текста */
    }

    .deal-form-container-2 .buttons-container-2 button,
    .add-client-button-2 {
        /*padding: 12px 24px;*/
        font-size: 16px; /* Увеличение для лучшего доступа и читаемости */
    }

    .add-client-button-2 {
        width: auto; /* Адаптация ширины кнопки */
        margin-left: 10px;
    }

    .modal-content {
        padding: 15px;
    }
}