.table-container-balance {
    max-width: 800px;
    margin: 20px auto;
    overflow-x: auto;
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.6); /* Полупрозрачный белый фон */
    padding: 20px; /* Добавляем отступы для контейнера */
    border-radius: 10px; /* Добавляем скругление углов */
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: rgba(255, 255, 255, 0.6); /* Полупрозрачный белый фон для заголовков */
    color: rgba(0, 0, 0, 0.93);
}

tbody tr {
    background-color: #f1f1f1;
}

tbody tr:hover {
    background-color: rgba(245, 209, 242, 0.76);
}


.modal-cash {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.modal-cash.active {
    visibility: visible;
    opacity: 1;
}

.modal-content-cash {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}