.table-container-balance {
    max-width: 800px;
    margin: 20px auto;
    overflow-x: auto;
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.6); /* Полупрозрачный белый фон */
    padding: 20px; /* Добавляем отступы для контейнера */
    border-radius: 10px; /* Добавляем скругление углов */
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: rgba(255, 255, 255, 0.6); /* Полупрозрачный белый фон для заголовков */
    color: rgba(0, 0, 0, 0.93);
}

tbody tr {
    background-color: #f1f1f1;
}

tbody tr:hover {
    background-color: rgba(245, 209, 242, 0.76);
}

