
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
}

.deal-form-container {
    max-width: 90%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.deal-form-container:hover {
    background-color: rgba(255, 255, 255, 1);
}

label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
}

select,
input {
    width: calc(100% - 16px);
    padding: 12px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

select:focus,
input:focus {
    outline: none;
    border-color: #5b296b;
}

.deals-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}

.deals-table th,
.deals-table td {
    border: 1px solid #ddd;
    padding: 14px;
    text-align: left;
}

.deals-table th {
    background-color: #f2f2f2;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:first-child {
    background-color: #5b296b;
}

button:first-child:hover {
    background-color: #7b0b9f;
}

button:last-child {
    background-color: #5b296b;
}

button:last-child:hover {
    background-color: #7b0b9f;
}

.custom-select .css-13cymwt-control {
    width: calc(100% - 16px);
    font-family: 'Arial', sans-serif;
    font-weight: normal !important;
    font-size: 14px;
}

.custom-select__menu {
    font-weight: normal;
}

.button-rate {
    background-color: rgba(114, 112, 112, 0.66);
    /*margin-bottom: 20px;*/
    margin-top: 1px !important;
    margin-right: 10px;
}

.button-rate:hover {
    background-color: rgba(123, 11, 159, 0.24);
    color: black;
}

.button-rate:last-child {
    background-color: rgba(114, 112, 112, 0.66);
}

.button-rate:last-child:hover {
    background-color: rgba(123, 11, 159, 0.24);
    color: black;
}


@media (max-width: 600px) {
    .deal-form-container {
        max-width: 100%;
        margin: 10px 10px;
        padding: 15px;
    }

    select, input {
        width: calc(100% - 8px); /* Уменьшение отступа */
        padding: 8px; /* Уменьшение отступа */
    }

    .deals-table th, .deals-table td {
        padding: 10px; /* Уменьшение отступа */
        font-size: 12px; /* Уменьшение размера шрифта */
    }

    .buttons-container {
        /*flex-direction: column; !* Вертикальное расположение кнопок *!*/
        align-items: center; /* Центрирование кнопок */
    }

    button {
        /*width: 90%; !* Полная ширина кнопки *!*/
        margin-bottom: 10px; /* Отступ между кнопками */
    }

    .table-container {
        overflow-x: auto;
        font-size: 14px;
    }

}