
.client-table {
    width: 95%;
    border-collapse: collapse;
    margin-top: 2px;
    margin-left: 40px;
    margin-right: 20px;
}


th, td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
}

th {
    background-color: #4b296b;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

.delete-button, .edit-button {
    background-color: #655277;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 4px;
}

.delete-button:hover, .edit-button:hover {
    background-color: #632f85;
}

.search-input {
    width: 20%;
    padding: 5px;
    margin-left: 40px;
    margin-top: 10px;
}